.service {
  padding: 2rem 0 2rem;
}

.service__card__btn__grp {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn__icon {
  background: var(--title-color-dark);
  width: 3rem;
  height: 3rem;
  margin-right: var(--mb-0-5);
  border-radius: 50%;
  padding: var(--mb-0-5);
}

.service__btn {
  background-color: var(--container-color);
  border: 3px dashed var(--higlight-color);
  color: var(--higlight-color);
  padding: 1rem 1.5rem;
  font-size: var(--normal-font-size);
  border-radius: 0.5rem;
  font-size: var(--h4-font-size);
  font-weight: var(--font-medium);
  display: flex;
  align-items: center;
}

.service__container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 4rem;
}

.service__info {
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-bottom: var(--mb-2);
}
.service__box {
  background-color: var(--container-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  text-align: left;
  /* padding: 1rem 1.25rem; */
}

.service__box h1 {
  color: var(--title-color-dark);
  margin-top: var(--mb-1);
  margin-bottom: var(--mb-0-5);
  font-weight: var(--font-semi-bold);
  font-size: 2.5rem;
}

.service__box h2 {
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-2);
}

.service__box:hover,
.service__box:hover > h1,
.service__box:hover > h2 {
  transition: 0.2s all ease-in-out;
  background-color: var(--title-color-dark);
  color: var(--container-color);
  fill: var(--container-color);
}

.service__box:hover > .service__card__btn__grp > .service__btn {
  transition: 0.2s all ease-in-out;
  background-color: var(--higlight-color);
  color: var(--container-color);
}

.service__icon {
  font-size: 1.5rem;
  transition: 0.2s all ease-in-out;
  color: var(--title-color);
  margin-bottom: var(--mb-0-5);
  height: 35px;
}

.service__title {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  text-align: left;
}

.service__subtitle {
  font-size: var(--tiny-font-size);
}

.service__description {
  padding: 0 4rem 0 0;
  margin-bottom: var(--mb-2-5);
}

.service__main {
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  height: 5rem;

  background: url("../../assets//service1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.service__sub {
  padding: 1rem 1.25rem;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .service__container {
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
  }

  .sub {
    margin-top: 1rem;
  }

  .second {
    margin: auto;
  }

  .service__box {
    padding: 0rem 0rem;
  }

  .service__data {
    text-align: center;
  }

  .service__info {
    justify-content: center;
  }

  .service__description {
    padding: 0 5rem;
    margin-bottom: 2rem;
  }

  .service__btn {
    padding: 10px;
  }
}

/* For medium devices */

@media screen and (max-width: 745px) {
  .service__info {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .service__info {
    grid-template-columns: 1fr;
  }
  .service__description {
    padding: 0;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .service__info {
    grid-template-columns: 1fr;
  }
}
